<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.team.house.mapper.HouseMapper" >
  <resultMap id="BaseResultMap" type="com.team.house.entity.House" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="USER_ID" property="userId" jdbcType="INTEGER" />
    <result column="TYPE_ID" property="typeId" jdbcType="INTEGER" />
    <result column="TITLE" property="title" jdbcType="VARCHAR" />
    <result column="DESCRIPTION" property="description" jdbcType="VARCHAR" />
    <result column="PRICE" property="price" jdbcType="DECIMAL" />
    <result column="PUBDATE" property="pubdate" jdbcType="DATE" />
    <result column="FLOORAGE" property="floorage" jdbcType="INTEGER" />
    <result column="CONTACT" property="contact" jdbcType="VARCHAR" />
    <result column="STREET_ID" property="streetId" jdbcType="INTEGER" />
    <result column="ispass" property="ispass" jdbcType="INTEGER" />
    <result column="isdel" property="isdel" jdbcType="INTEGER" />
    <result column="path" property="path" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ID, USER_ID, TYPE_ID, TITLE, DESCRIPTION, PRICE, PUBDATE, FLOORAGE, CONTACT, STREET_ID, 
    ispass, isdel, path
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.team.house.entity.HouseExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from house
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from house
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from house
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.team.house.entity.HouseExample" >
    delete from house
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.team.house.entity.House" >
    insert into house (ID, USER_ID, TYPE_ID, 
      TITLE, DESCRIPTION, PRICE, 
      PUBDATE, FLOORAGE, CONTACT, 
      STREET_ID, ispass, isdel, 
      path)
    values (#{id,jdbcType=VARCHAR}, #{userId,jdbcType=INTEGER}, #{typeId,jdbcType=INTEGER}, 
      #{title,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, 
      #{pubdate,jdbcType=DATE}, #{floorage,jdbcType=INTEGER}, #{contact,jdbcType=VARCHAR}, 
      #{streetId,jdbcType=INTEGER}, #{ispass,jdbcType=INTEGER}, #{isdel,jdbcType=INTEGER}, 
      #{path,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.team.house.entity.House" >
    insert into house
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="typeId != null" >
        TYPE_ID,
      </if>
      <if test="title != null" >
        TITLE,
      </if>
      <if test="description != null" >
        DESCRIPTION,
      </if>
      <if test="price != null" >
        PRICE,
      </if>
      <if test="pubdate != null" >
        PUBDATE,
      </if>
      <if test="floorage != null" >
        FLOORAGE,
      </if>
      <if test="contact != null" >
        CONTACT,
      </if>
      <if test="streetId != null" >
        STREET_ID,
      </if>
      <if test="ispass != null" >
        ispass,
      </if>
      <if test="isdel != null" >
        isdel,
      </if>
      <if test="path != null" >
        path,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="typeId != null" >
        #{typeId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="pubdate != null" >
        #{pubdate,jdbcType=DATE},
      </if>
      <if test="floorage != null" >
        #{floorage,jdbcType=INTEGER},
      </if>
      <if test="contact != null" >
        #{contact,jdbcType=VARCHAR},
      </if>
      <if test="streetId != null" >
        #{streetId,jdbcType=INTEGER},
      </if>
      <if test="ispass != null" >
        #{ispass,jdbcType=INTEGER},
      </if>
      <if test="isdel != null" >
        #{isdel,jdbcType=INTEGER},
      </if>
      <if test="path != null" >
        #{path,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.team.house.entity.HouseExample" resultType="java.lang.Integer" >
    select count(*) from house
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update house
    <set >
      <if test="record.id != null" >
        ID = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        USER_ID = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.typeId != null" >
        TYPE_ID = #{record.typeId,jdbcType=INTEGER},
      </if>
      <if test="record.title != null" >
        TITLE = #{record.title,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null" >
        DESCRIPTION = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.price != null" >
        PRICE = #{record.price,jdbcType=DECIMAL},
      </if>
      <if test="record.pubdate != null" >
        PUBDATE = #{record.pubdate,jdbcType=DATE},
      </if>
      <if test="record.floorage != null" >
        FLOORAGE = #{record.floorage,jdbcType=INTEGER},
      </if>
      <if test="record.contact != null" >
        CONTACT = #{record.contact,jdbcType=VARCHAR},
      </if>
      <if test="record.streetId != null" >
        STREET_ID = #{record.streetId,jdbcType=INTEGER},
      </if>
      <if test="record.ispass != null" >
        ispass = #{record.ispass,jdbcType=INTEGER},
      </if>
      <if test="record.isdel != null" >
        isdel = #{record.isdel,jdbcType=INTEGER},
      </if>
      <if test="record.path != null" >
        path = #{record.path,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update house
    set ID = #{record.id,jdbcType=VARCHAR},
      USER_ID = #{record.userId,jdbcType=INTEGER},
      TYPE_ID = #{record.typeId,jdbcType=INTEGER},
      TITLE = #{record.title,jdbcType=VARCHAR},
      DESCRIPTION = #{record.description,jdbcType=VARCHAR},
      PRICE = #{record.price,jdbcType=DECIMAL},
      PUBDATE = #{record.pubdate,jdbcType=DATE},
      FLOORAGE = #{record.floorage,jdbcType=INTEGER},
      CONTACT = #{record.contact,jdbcType=VARCHAR},
      STREET_ID = #{record.streetId,jdbcType=INTEGER},
      ispass = #{record.ispass,jdbcType=INTEGER},
      isdel = #{record.isdel,jdbcType=INTEGER},
      path = #{record.path,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.team.house.entity.House" >
    update house
    <set >
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=INTEGER},
      </if>
      <if test="typeId != null" >
        TYPE_ID = #{typeId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        PRICE = #{price,jdbcType=DECIMAL},
      </if>
      <if test="pubdate != null" >
        PUBDATE = #{pubdate,jdbcType=DATE},
      </if>
      <if test="floorage != null" >
        FLOORAGE = #{floorage,jdbcType=INTEGER},
      </if>
      <if test="contact != null" >
        CONTACT = #{contact,jdbcType=VARCHAR},
      </if>
      <if test="streetId != null" >
        STREET_ID = #{streetId,jdbcType=INTEGER},
      </if>
      <if test="ispass != null" >
        ispass = #{ispass,jdbcType=INTEGER},
      </if>
      <if test="isdel != null" >
        isdel = #{isdel,jdbcType=INTEGER},
      </if>
      <if test="path != null" >
        path = #{path,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.team.house.entity.House" >
    update house
    set USER_ID = #{userId,jdbcType=INTEGER},
      TYPE_ID = #{typeId,jdbcType=INTEGER},
      TITLE = #{title,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      PRICE = #{price,jdbcType=DECIMAL},
      PUBDATE = #{pubdate,jdbcType=DATE},
      FLOORAGE = #{floorage,jdbcType=INTEGER},
      CONTACT = #{contact,jdbcType=VARCHAR},
      STREET_ID = #{streetId,jdbcType=INTEGER},
      ispass = #{ispass,jdbcType=INTEGER},
      isdel = #{isdel,jdbcType=INTEGER},
      path = #{path,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <select id="getHouseById" resultType="House" parameterType="java.lang.Integer">
    SELECT title,price,pubdate,contact,path,floorage,h.`ID`,ispass,isdel,
    s.`NAME` AS sname,d.`NAME` AS dname,t.`NAME` AS tname FROM house h
             INNER JOIN TYPE t ON h.`TYPE_ID`=t.`ID`
             INNER JOIN street s ON s.`ID`=h.`STREET_ID`
             INNER JOIN district d ON d.`ID`=s.`DISTRICT_ID`
             WHERE h.`USER_ID`=#{USER_ID} and h.`isdel`=0
  </select>
  <select id="getHouseByIda" parameterType="String" resultType="House">
    SELECT h.id,h.`TYPE_ID` AS typeId ,title,DESCRIPTION,d.`ID` AS did,s.name as sname,
    t.name as tname,d.name as dname,
            price,PUBDATE,FLOORAGE,contact, ispass,isdel,path,h.`STREET_ID` AS
            streetId FROM house h INNER JOIN street s ON s.`ID`=h.`STREET_ID`
                      INNER JOIN district d ON d.`ID`=s.`DISTRICT_ID`
                      inner join type t on t.id=h.TYPE_ID
                      WHERE h.id=#{id}
  </select>
  <select id="getHouseByispass" resultType="House" parameterType="java.lang.Integer">
    SELECT h.id,title,DESCRIPTION,PRICE,PUBDATE,FLOORAGE,h.`USER_ID`AS userId,
       CONTACT,s.`NAME` AS sname,d.`NAME` AS dname, t.`NAME` AS tname FROM house h
       LEFT JOIN street s ON h.`STREET_ID`=s.`ID`
       LEFT JOIN district d ON s.`DISTRICT_ID`=d.`ID`
       LEFT JOIN TYPE t ON t.`ID`=h.`TYPE_ID`
       WHERE ispass=#{ispass} AND isdel=0
  </select>
  <select id="getHouse" resultType="House" parameterType="com.team.house.utils.HouseConnection">
    SELECT h.id,title,price,pubdate,contact,floorage,path,
    t.`NAME` AS tname ,s.`NAME` AS sname , d.`NAME` AS dname
    FROM house  AS h
    INNER JOIN TYPE AS t  ON h.`TYPE_ID`=t.id
    INNER JOIN street AS s ON h.`STREET_ID`=s.`ID`
    INNER JOIN district AS d ON s.`DISTRICT_ID`=d.`ID`
    where isdel=0 and ispass=1
    <!--拼接条件-->
    <if test="title!=null">
      and title like concat('%',#{title},'%')
    </if>
    <if test="typeId!=-1">
      and h.type_id=#{typeId}
    </if>
    <if test="districtId!=-1">
      and s.district_id=#{districtId}
    </if>
    <if test="streetId!=-1">
      and h.street_id=#{streetId}
    </if>
    <if test="minPrice!=null">
      and h.price >= #{minPrice}
    </if>
    <if test="maxPrice!=null">
      and h.price  &lt;=  #{maxPrice}
    </if>
  </select>
</mapper>